{% extends 'main/header.html' %}

{% block content %}

    <p>
    <nav>
        <div class="nav-wrapper">
        <form method="post" action="{% url 'main:search_results' id%}">
        {%csrf_token%}
            <div class="input-field">
                <input id="search" type="search" placeholder="Search Film" name="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
        </div>
    </nav>
    </p>
    
    <div class="row">
    <form method="post" action="#">
    {%csrf_token%}
        {% for f in films %}
            <div class="col9999 s12 m6 l4">
                <a href="{{partone}}", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">{{f.name}}</div>
                            {% if f.done == True%}
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in", value="clicked", name="c{{f.id}}" checked="checked"/>
                                    <span>Done Watching</span>
                                </label>
                            </p>
                            {% else %}
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in", value="clicked", name="c{{f.id}}" />
                                    <span>Done Watching</span>
                                </label>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        <button type="submit", name="Save", value="Save"><a class="waves-effect waves-light btn red"><i class="material-icons left">check</i>Save Basket</a></button>
    </div>
    </form>
{% endblock %}
