{% extends 'main/header.html' %}

{% block content %}

    <p>
    <nav>
        <div class="nav-wrapper">
        <form method="post" action="{% url 'main:search_results' id%}">
        {%csrf_token%}
            <div class="input-field">
                <input id="search" type="search" placeholder="Search Film" name="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
        </div>
    </nav>
    </p>
    
    <div class="row">
        <form method="post" action="#">
        {%csrf_token%}

            {% for f in films %}
            <p>
                <div class="col s12 m6">
                <a href="{% url 'main:film' f.id %}">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img class="poster" src={{f.poster}}>
                            <button class="btn-floating halfway-fab waves-effect waves-light-blue darken-4" type="submit", name="c{{f.id}}", value="clicked"><i class="material-icons purple-text text-accent-2">check</i></button>
                        </div>  
                    </div>
                </a>
                </div>
            </p>
            {% endfor %}
        </form>
    </div>

{% endblock %}
