<nav style="background-color:blue">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo purple-text text-accent-2">Filmsket</span></a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="purple-text text-accent-2" href="/">Home</a></li>
            {% if user.is_authenticated %}
                <li><a class="purple-text text-accent-2">{{user.username}}</a></li>
                <li><a class="purple-text text-accent-2" href="/logout">Logout</a></li>
            {% else %}
                <li><a class="purple-text text-accent-2" href="/register ">Register</a></li>
                <li><a class="purple-text text-accent-2" href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-links" style="background-color:blue">
    {% if user.is_authenticated %}
        <li><div class="user-view">
            <div class="background">
                {% load static %}
                <img src="{% static 'background.jpg' %}" height="100" width="100">
            </div>
        <span class="purple-text text-accent-2 name">{{user.username}}</span>
        <span class="purple-text text-accent-2 email">{{user.email}}</span></a>
        </div></li>
        <li><a class="purple-text text-accent-2" href="/logout">Logout</a></li>
    {% else %}
        <li><a class="purple-text text-accent-2" href="/register ">Register</a></li>
        <li><a class="purple-text text-accent-2" href="/login">Login</a></li>
    {% endif %}
</ul>

<script> 
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
    });
</script>
<script> 
    $(document).ready(function(){
    $('.sidenav').sidenav();
    });
</script> 
    
  
